<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=1862006181/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
  seamless><a href="http://notinservicebk.bandcamp.com/track/autumn-breeze-demo">Autumn Breeze (demo) by Not In Service</a>
</iframe>

<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=1972021889/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://notinservicebk.bandcamp.com/track/how-it-feels-stripped-down">How It Feels (stripped down) by Not In Service</a></iframe>
